<div class="main-content">
    <input type="text" placeholder="Search ID" #idFilter>
  <input type="text" placeholder="Search Name" #nameFilter>
  <input type="text" placeholder="Search Age" #ageFilter>
  <input type="text" placeholder="Search Email" #emailFilter>

  <button (click)="applyFilters(idFilter.value, nameFilter.value, ageFilter.value, emailFilter.value)">Apply Filters</button>
    <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of filteredData">
            <td>{{ item.id }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.age }}</td>
            <td>{{ item.email }}</td>
          </tr>
        </tbody>
      </table>
  </div>